<div class="sheets_show">
<h1>シート詳細</h1>
<%= link_to(new_train_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>この席を出品する</span>
  <%= image_tag 'IMG0000.JPG' , size: '50x50' ,class: "purchase-btn-icon" %>
<% end %>

</div>